<div class="header-cliente row justify-content-center">
  <div class="col-md-6">
    <h1>Alta Cliente</h1>
  </div>
</div>
<div class="form-cliente row justify-content-center">
  <div class="col-md-6">
    <form  action="">
      <div class="form-group">
        <label for="">Nombre</label>
        <input class="form-control" type="text" name="" id="" placeholder="Ingrese Nombre">
      </div>
      <div class="form-group">
        <label for="">Apellido</label>
        <input class="form-control" type="text" name="" id="" placeholder="Ingrese Apellido">
      </div>
      <div class="form-group">
        <label for="">Documento</label>
        <input class="form-control" type="text" name="" id="" placeholder="Ingrese Documento">
      </div>
      <div class="form-group">
        <label for="">Teléfono</label>
        <input class="form-control" type="text" name="" id="" placeholder="Ingrese Teléfono">
      </div>
      <div class="form-group">
        <label for="">Dirección</label>
        <input class="form-control" type="text" name="" id="" placeholder="Ingrese Dirección">
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input class="form-control" type="text" name="" id="" placeholder="Ingrese Email">
      </div>
      <div>
        <button class="btn btn-success">Enviar</button>
      </div>
    </form>
  </div>
</div>