<div class="row">
  <div class="col">
  </div>
  <div class="col">
    <form class="form-inline my-2 my-lg-0">
      <input name="search" [(ngModel)]="search"  class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</div>
<div class="row">
  <div class="col"> 
        <table class="table agenda">
          <thead class="thead-light">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Documento</th>
              <th scope="col">Teléfono</th>
              <th scope="col">Dirección</th>
              <th scope="col">Email</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of agenda">
              <td>{{item.nombre}}</td>
              <td>{{item.apellido}}</td>
              <td>{{item.documento}}</td>
              <td>{{item.telefono}}</td>
              <td>{{item.direccion}}</td>
              <td>{{item.email}}</td>
              <td><button>Modificar</button> <button>Eliminar</button></td>
            </tr>
          </tbody>
        </table>
  </div>
</div>