<div class="container my-5 body-nuevo-envio animated fadeIn">
  
  <div class="row">
    <div class="col-4 title my-2">

      <span>Nuevo Envio</span>

    </div>
  
    <div class="col-5 ml-auto my-2 ">
      
      <form class="form-inline">
          <input class="form-control mr-2" type="text" placeholder="Buscar">
          <button class="btn btn-success btn-sm">Nuevo Cliente</button>
      </form>

    </div>
  </div>

  <div class="row my-5 ">
    <div class="col">

      <div class="row">
        <div class="col-8 offset-1">
          <table class="table table-res items">
            <thead>
              <th>Item</th>
              <th>Valor</th>
              <th>Detalle</th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td>Rivotril 0.5 x 30</td>
                <td>200.38</td>
                <td><button class="btn btn-link">Ver</button></td>
                <td>
                    <button class="btn btn-danger">Eliminar item</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
            <button class="btn btn-info">Agregar</button>
        </div>
      </div>


    </div>
  </div>

  <div class="row">
    <div class="col-3 my-2">
      <input class="form-control" type="text" placeholder="Cargo envio">
    </div>
    <div class="col-12 my-2">
      <span>Importe Total: </span>
    </div>
  </div>

</div>